:root {
  --white: white;
  --black: #333333;
}

::placeholder {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg-black {
  background-color: var(--white);
}

.bg-bl {
  background-color: var(--black) !important;
}

.bl {
  color: var(--black) !important;
}

.header {
  text-align: center;
  font-size: 70px;
  font-weight: 500;
}

.nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.general-text {
  text-align: center;
}

.nav-text {
  font-size: 14px !important;
}

.book-results {
  text-align: center;
  opacity: 60%;
  font-size: 13px;
  position: relative;
  bottom: 90px;
}

.input {
  border-radius: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 16px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.center {
  margin: auto;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 575px) {
  .book-results {
    bottom: 50px;
  }
}
